.user-card {
  max-width: 200px;
  float: left;
}

.user-header-image {
  height: 50px;
  width: 50px;
  font-size: 24px;

  border-radius: 1px solid white;
  text-align: center;
  display: block;
  background-size: cover;
}
