<div class="p-grid">
  <div class="p-col-8"></div>
  <div class="p-col-4">
    <div class="p-field">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText />
        <label for="float-input">Username</label>
      </span>
    </div>
    <div class="p-field">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText />
        <label for="float-input">Password</label>
      </span>
    </div>
    <div class="p-col-12 p-col-align-right">
      <button type="button" pButton label="Login"></button>
    </div>
  </div>
</div>
