/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(./assets/images/sackcloth-sackcloth-textured-laptop-ipad-163143.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
  backdrop-filter: grayscale(0.5) opacity(0.8) blur(4px);
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
